* {
    margin: 0;
    padding: 0
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: url("../img/prueba1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sancreek', cursive;
}

.hidden {
    display: none;
}

.appearGame {
    display: flex;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#gameArea {
    align-items: center;
    flex-direction: column;
}

#start-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 30px;
  border: black solid;
  border-radius: 40px;
  margin-top: 30px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

p {
    font-size: 2em;
    padding: 10px;
}

.h1Game {
    padding: 40px;
}

.h1Intro {
    padding: 20px;
}